<%= form_for @account , :url => {:action => 'check'} do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '姓' %>
    <%= f.text_field :first_name %><br>
    <%= f.label '名' %>
    <%= f.text_field :last_name %><br>
  </div>
  <div class="field">
    <%= f.label '性別' %><br>
    <label><%= f.radio_button :sex, '男性', class: :sex %>男性</label>
    <label><%= f.radio_button :sex, '女性', class: :sex %>女性</label>
  </div>
  <div class="field">
    <%= f.label '郵便番号' %><br>
    <%= f.text_field :post_first %>
    <%= f.text_field :post_last %>
  </div>
  <div class="field">
    <%= f.label '都道府県' %><br>
    <%= f.collection_select :prefecture, @prefectures, :pref_id, :pref_name %>
  </div>
  <div class="field">
    <%= f.label 'メールアドレス' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label '趣味' %><br>
    趣味は何ですか？<br>
    <label><%= check_box_tag 'hobbys[]', '音楽鑑賞', @hobbys.index('音楽鑑賞').present?, {class: :hobby} %>音楽鑑賞</label>
    <label><%= check_box_tag 'hobbys[]', '映画鑑賞', @hobbys.index('映画鑑賞').present?, {class: :hobby} %>映画鑑賞</label>
    <label><%= check_box_tag 'hobbys[]', 'その他', @hobbys.index('その他').present?, {class: :hobby} %>その他</label>
    <%= f.text_area :other_hobby, rows: 1 %>
  </div>
  <div class="field">
    <%= f.label :opinion %><br>
    <%= f.text_area :opinion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
