<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Sex</th>
      <th>Post first</th>
      <th>Post last</th>
      <th>Prefecture</th>
      <th>Email</th>
      <th>Hobby</th>
      <th>Other hobby</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.first_name %></td>
        <td><%= account.last_name %></td>
        <td><%= account.sex %></td>
        <td><%= account.post_first %></td>
        <td><%= account.post_last %></td>
        <td><%= account.prefecture %></td>
        <td><%= account.email %></td>
        <td><%= account.hobby %></td>
        <td><%= account.other_hobby %></td>
        <td><%= account.opinion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', :controller => 'accounts', :action => 'new' %>
